.header-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-search {
    width: 12rem;
}

.header-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-right > span {
    cursor: pointer;
}

.user-icon {
    border-radius: 50% !important;
}

.header-menu {
    text-align: center;
    border-bottom: none;
}

.header-menu span {
    font-size: 18px !important;
}

.header-drop-menu {
    padding: 0.2rem 2.5rem;
}

:global .ant-tabs-bar {
    margin: 0;
}

.setting-icon-group {
    display: flex;
    width: 67.7%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
