:global .login-form {
    max-width: 60%;
    margin: 0 auto;
}
:global .login-form-button {
    width: 50%;
}

:global .ant-input-prefix {
    display: flex;
    align-items: center;
}

:global .verify {
    display: flex;
}
