.container-fluid {
    position: relative;
    overflow: hidden;
}

.icon-button {
    background: none;
    border: none;
    color: inherit;
    outline: none;
}

.file-list {
    box-sizing: border-box;
    padding: 10px 0;
}

.c-link {
    cursor: pointer;
}

.start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    line-height: 300px;
    color: #ccc;
    text-align: center;
}

.left-panel {
    height: 100vh;
    overflow-y: auto;
}

.button-group {
    position: absolute;
    width: 100%;
    bottom: 0
}

.no-border {
    border-radius: 0 !important;
}

.error-input {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: rgb(255, 79, 82) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 79, 82, 0.4) !important
}

.form-control:focus.error-input {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: rgb(255, 79, 82) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 79, 82, 0.4) !important
}

.CodeMirror-scroll {
    height: 535px !important;
}

.sync-status {
    font-size: 12px;
    color: #959694;
    position: absolute;
    bottom: 12px;
    left: 10px
}
